body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
.header {
    background-color: #000000;
    color: yellow;
    display: flex;
    justify-content: center;
    padding: 20px;
}
  
.header__logo {
    font-size: 32px;
}
.search-bar__block {
    margin: 20px;
  }
  
.search-input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 300px;
  }
  
.search-submit {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.characters__list {
  margin-top: 50px;
  padding: 50px 0;
  width: 100%;
  background: rgba(249, 254, 126, .25)
}

.characters__list  .container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.character__item {
  width: 320px;
  min-height: 100px;
  background: #fff;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300
}


.character__item-subtitle {
  font-weight: 700;
  font-size: 18px;
  padding: 0 20px;
  margin-top: 20px
}

.character__item-descr {
  margin-top: 20px;
  padding: 0 20px
}
.character-details {
  margin: 20px;
}


.update-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.update-form label {
  font-weight: bold;
  width: 120px;
  margin: 10px;
}

.update-form__input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 200px;
}

.update-form__submit {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.loading-text{
  text-align: center;
}
.error{
  background-color: rgb(244, 65, 65);
  color: #fff;
  margin: 0 auto;
}
.success {
  color: green;
}